---
import MainPageLayout from "../../layouts/MainPageLayout.astro";
const author = "Annya Nir";
const pageTitle = "Nianaa Blogs";
const pageDescription = "This page contains blogs from Ninaa."
---

<MainPageLayout author={author} pageTitle={pageTitle} pageDescription={pageDescription}>
  <nav>
    <a href="blog/blog1">First Blog</a>
  </nav>
</MainPageLayout>