---
import MainPageLayout from "../../layouts/MainPageLayout.astro";
const author = "Annya Nir";
const pageTitle = "Skill Development";
const pageDescription = "Nianaa want's to help you to develop your skill. Skill is necessary to pursue the goal you want. "
---

<MainPageLayout author={author} pageTitle={pageTitle} pageDescription={pageDescription}>

  <h2>
    Nianaa provides you a lots of skills. You can learn one of them you like. 
  </h2>
  <h3>
    Let's learn some skill. 
  </h3>
</MainPageLayout>