:root {
    --lightBG: #e7fbff;;
    --darkBG: #2b2b2a;
    --lightFont: #000000;
    --darkFont: #ffffff;
    --hoverText:#debefc;
    --hoverBG:rgba(19, 226, 0, 0.685);
    --boxShadow: rgba(195, 86, 209, 0.445);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pd-bd{
    padding: 5px;
    border-radius: 10px;
}

nav>a{    
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px;
}

body {
    background-color: var(--lightBG);
    color: var(--lightFont);
    margin: 5px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 20px 0px var(--boxShadow);

}

/* HEADER SITE INFO DESIGN */
.site-details{
    display: flex;
    gap: 5px;
}

.site-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width:380px) {
    body{
        margin: 0;
        padding: 0;
    }
    .navButton{
        right: 60px;
    }
    
}



