---
import MainPageLayout from "../layouts/MainPageLayout.astro";
const author = "Annya Nir";
const pageTitle = "About Us";
const pageDescription = "Nianaa is a comprehensive educational platform that offers guidance on personal development, education, finance, healthcare, and career advancement. Our website offers unparalleled support to help individuals attain their aspirations and reach new levels of success."
---

<MainPageLayout     author={author}
pageTitle={pageTitle}
pageDescription={pageDescription}>

<h1>
    Nianaa | nianaa.com
</h1>
<p>
    Nianaa is a comprehensive educational platform that offers guidance on personal development, education, finance, healthcare, and career advancement. Our website offers unparalleled support to help individuals attain their aspirations and reach new levels of success.
</p>

<h2>
    We provide authentic information. 
</h2>
<p>
    Information is necessary, and making it authentic is extremely rare. We provide information by collecting primary sources of information, analyzing them, and providing them individually. We are devoted to making the information more authentic. 
</p>

<h2>
    We provide value. 
</h2>
<p>
    Whoever the person is! We promise to give a person suggestions to do something, learn, or conquer something. Every person is valuable.  Life is precious. We are working on making this life more beautiful,  shiny, and lastly, valuable. 
</p>

<h2>
    We respect you. 
</h2>
<p>Nianaa respects you and your personal information, status, and decisions. Nianaa is obedient to make your experience.</p>
</MainPageLayout>