---
import MainPageLayout from "../layouts/MainPageLayout.astro";
const author = "Annya Nir";
const pageTitle = "Contact Us";
const pageDescription = "Contact us to know about the details of Nianaa. If you want to help us or you have some suggestion  for us, please don't be hesitate to contact us. We will always be available for you."
---

<MainPageLayout     author={author}
pageTitle={pageTitle}
pageDescription={pageDescription}>
    <h1>Contact Us</h1>
    
</MainPageLayout>