---
import MainPageLayout from "../../layouts/MainPageLayout.astro";
const author = "Annya Nir";
const pageTitle = "Learning Courses";
const pageDescription = "This page contains available courses provided by Nianaa"
---

<MainPageLayout author={author} pageTitle={pageTitle} pageDescription={pageDescription}>
  <h1>
    Do you want to have a better future?
  </h1>
  <h2>
    Select one of the courses you desire. 
  </h2>
</MainPageLayout>