---
import MainPageLayout from "../../layouts/MainPageLayout.astro";
const author = "Annya Nir";
const pageTitle = "Career Guidlines";
const pageDescription = "This page contains career advices from Ninaa."
---

<MainPageLayout author={author} pageTitle={pageTitle} pageDescription={pageDescription}>
  <h1>
    Your career. 
  </h1>
  <h2>
    What do you want to be? 
  </h2>
  
  <nav>
    <a href="career/newpost">Career Post</a>
</nav>
</MainPageLayout>